.auth-modal {
 min-width: 300px;
}

.change-password-form-group {
    margin-bottom: 15px;
}

.change-password-form-group label {
    display: block;
    font-weight: bold;
}

.change-password-form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.change-password-error-message {
    color: red;
    font-size: 14px;
}

.change-password-submit-button {
    background-color: #007bff; /* Основний колір кнопки */
    color: white; /* Колір тексту */
    font-size: 16px; /* Розмір шрифту */
    padding: 10px; /* Внутрішній відступ */
    border: none; /* Без обводки */
    border-radius: 4px; /* Заокруглення країв */
    cursor: pointer; /* Змінюємо курсор при наведенні */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Анімація */
  }
  
  .change-password-submit-button:hover {
    background-color: #0056b3; /* Колір кнопки при наведенні */
    transform: scale(1.05); /* Збільшення кнопки при наведенні */
  }
  
  .change-password-submit-button:active {
    background-color: #004494; /* Колір кнопки при натисканні */
    transform: scale(0.98); /* Зменшення кнопки при натисканні */
  }
  