/* Стилі для форми входу */
.login-form-container {
    position:relative;
    min-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .login-form-group {
    margin-bottom: 15px;
  }
  
  .login-form-group label {
    display: block;
    font-weight: bold;
  }
  
  .login-form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-error-message {
    color: red;
    font-size: 14px;
  }
  
  .reset-password-button {
    background: none; /* Без фону */
    border: none; /* Без рамки */
    color: #007bff; /* Колір тексту */
    text-decoration: underline; /* Підкреслення, щоб виглядало як посилання */
    padding: 0; /* Без відступів */
    cursor: pointer; /* Курсор при наведенні */
    transition: color 0.3s ease; /* Анімація зміни кольору */
}

.reset-password-button:hover {
    color: #0056b3; /* Колір при наведенні */
}

  .login-submit-button {
    background-color: #007bff; /* Основний колір кнопки */
    color: white; /* Колір тексту */
    font-size: 16px; /* Розмір шрифту */
    padding: 10px; /* Внутрішній відступ */
    border: none; /* Без обводки */
    border-radius: 4px; /* Заокруглення країв */
    cursor: pointer; /* Змінюємо курсор при наведенні */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Анімація */
  }
  
  .login-submit-button:hover {
    background-color: #0056b3; /* Колір кнопки при наведенні */
    transform: scale(1.05); /* Збільшення кнопки при наведенні */
  }
  
  .login-submit-button:active {
    background-color: #004494; /* Колір кнопки при натисканні */
    transform: scale(0.98); /* Зменшення кнопки при натисканні */
  }
  